*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.huvud-container{
    
    background-color: #256f78;
    padding: 20px;
    color: white;
    font-weight: bold;

}

h1 span{
    justify-content: center;
}
