
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chart {
  width: 40em;
  display: flex;
  justify-self: center;
}

.piechart {
  width: 30em;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

/* Gemensamma stilar för knappar */
button {
  border: none;
  transition: transform 0.5s, box-shadow 0.4s;
  font-weight: normal; 
  transform: scale(1); 
  box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
}

button:hover {
  font-weight: bold;
  transform: scale(1.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); 
}

.gradient-btn {
  background: linear-gradient(
    to right,
    #47d1e4 0%,
    #40b1c0 51%,
    #256f78 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.gradient-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.close-button {
  font-size: 1.5em;
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Stilar för kontainern som håller diagrammet */
.chart-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}
